.git
.github
**/.env
**/.env.*
**/*.key
**/*.p12
**/*.pem
**/*.pfx
**/node_modules
**/dist
**/*.tsbuildinfo
app/build
app/kernel*
app/stage/build
app/src/types/dist
docs
electron/dist
enterprise/apps/*/playwright-report
enterprise/apps/*/test-results
enterprise/packages/database/src/generated
logs
output
plans
